<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" dest="logs/log4j2.log">

	<Appenders>
		<RollingFile name="log" fileName="logs/app.log"
			filePattern="${filename}/logdemo.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="500" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="log" />
		</Root>
	</Loggers>
</Configuration>
